
/*横幅轮播图样式*/
#banner{
    width: 100%;
    height: 0;
    padding-bottom: 30%;
    overflow: hidden;
    position: relative;
}
#sections{
    /*width: 300%;*/
    position: absolute;
    height: 100%;
}
.section{
    /*width: 33%;*/
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float: left;
}
#rounds {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}
#rounds .round{
    height: 15px;
    width: 15px;
    margin: 0 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: #eee;
}
#rounds .round.active{
    background-color: #FFFF00;
}
/*正文同意样式*/
article{
    width: 100%;
}
article header{
    width: 100%;
    text-align: center;
    margin: 60px auto 0;
}
article header h2{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
article header h3{
    font-size: 18px;
    font-weight: bold;
    color: #00451F;
    margin: 10px 0 14px 0;
}
article header p{
font-size: 14px;
color: #b3b3b3;
}
article section{
    width: 100%;
    text-align: center;
    margin: 50px auto;
    box-sizing: border-box;
    position: relative;
}
.advantage-img{
    max-width: 80%;
}
/*展示区域样式*/
article.display{
    height: 450px;
    padding: 25px 0;
    background-image: url('../images/index/display.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    letter-spacing: 3px;
}
article.display header h2{
    color: #fff;
}
article.display header h3{
    color: #fff;
}
article.display header p{
    color: #b3b3b3;
}
/*展示轮播图*/
article.display section{
}
.display-box{
    width: 80%;
    height: 0;
    padding-bottom: 20%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
@media  screen and (max-width:700px){
    .display-box{
        padding-bottom: 30%;
    }

}

.arrow-left{
    position: absolute;
    left: 20px;
    top: 45%;
    cursor: pointer;
    opacity: 0.5;
}
.arrow-right{
    position: absolute;
    right: 20px;
    top: 45%;
    cursor: pointer;
    opacity: 0.5;
}
.display-box ul.article-sections{
    width: 500%;
    margin-left: 1%;
    position: absolute;
    height: 100%;
}
.article-sections .item{
    float: left;
    width: 4%;
    margin-right: 1%;
    background-color: #fff;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.article-sections .item:hover{
    box-shadow: 0 0 10px #fff;
}
.article-sections .item .item-img{
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}
.article-sections .item .item-img img{
    width: 100%;
    min-height: 100%;
}
.item-text{
    padding: 0 10px;
    text-align: left;
}
@media  screen and (max-width:1000px){
.item-title{
    font-size: 14px!important;
}
}
.item-title{
    float: left;
    font-size: 20px;
    height: 20px;
    width: 70%;
}
.item-more{
    float: right;
    width: 20%;
    line-height: 24px;
}
.item-more img{
    width: 100%;
    height: auto;
}
.article-sections .item p{
    padding-top: 10px;
    clear: both;
    font-size: 12px;
    color: #b3b3b3;
}

.arrow-left:hover,.arrow-right:hover{
    opacity: 1;
}
.advertisement{
    max-width: 1200px;
    margin: 0 auto;
}
.advertisement *{
    width: 100%;
}
/*关于我们的样式*/
article.about section{
    height: 350px;
    padding: 0 10%;
}
.about-img{
    float: left;
    height:100%;
    width: 40%;
    overflow: hidden;
    margin-right: 10%;
}
.about-text{
    text-align: left;
    float: left;
    width: 50%;
    overflow: hidden;
}
.about-text-title{
    margin-bottom: 20px;
}
.about-text-title img{
    width: 100%;
}
.about-text p{
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.5;
    color: #666;
}
.about-more{
    margin-top: 30px;
}
.about-text-content{
    max-height: 300px;
    overflow: hidden;
}
.news-box{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 20px;
}
.news{
    width: 100%;
    clear: both;
    padding: 50px 0;
}
.news-title{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
    color: #00451F;
    width: 100%;
    border-bottom: 2px solid #ccc;
    margin-bottom: 15px;
}
.news-img{
    width: 40%;
    overflow: hidden;
    margin-right: 20px;
    float: left;
}
.news-img img{
    width: 100%;

}
.news-text{
    width: 50%;
    float: left;
}
.text-title{
    float: left;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;

}
.text-time{
    display: inline-block;
    float: right;
    font-size: 10px;
    color: #ccc;
}
.text-content{
    width: 100%;
    padding-top: 10px;
    clear: both;
    line-height: 1.4;
    color: #838383;
    height: 115px;
    text-indent: 25px;
    overflow: hidden;
}
.news-item {
    height: 120px;
    overflow: hidden;
}
.news-item li{
    line-height: 30px;
}
.news-item li a{
    display: inline-block;
    width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news a:hover{
    color: #00451F;
}
.more{
    display: block;
    width: 80px ;
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid #00451F;
    float: right;
    text-align: center;
}
.more:hover{
    background-color: #00451F;
    color: #fff!important;
}
