
/* -----------------------正文---------------------------- */
html,body,.page{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* 页面 */
.page{
    display: table;
}
/* 通用页面设置 */
.page-item{
    width: 12.5%;
    background-color: #ddd;
    padding: 0 10px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.page-item a{
    width: 100%;
    display: inline-block;
}
/* 黑色蒙版 */
.page-item::before{
    content: " ";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-image: url(../images/main/pic_bg_over.png);
    z-index: 0;
}
.page-item h3{
    font-size: 12px;
    color: #fff;
    position: relative;
    z-index: 1;
    font-weight: inherit;
    text-shadow: 0 0 5px rgba(0,0,0,0.5)
}
.page-item img{
    position: relative;
    z-index: 1;
    width: 40%;
}
.page-item:hover::before{
    display: none;
}
/* 导航栏目 */
.page-item-title{
    text-align: center;
    background-image: url(../images/main/index-bg.jpg);
    background-size: 100% auto;
    width: 12.5%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.page-item-title img{
    position: absolute;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 100px;
}
.page-item-title ul li{
    width: 100%;
    height: 40px;
    overflow: hidden;
    margin: 10px auto;
}
.page-item-title ul li:hover a{
    margin-top: -40px;
    transition: 0.5s;
}
.page-item-title ul li a{
    display: inline-block;
    height: 80px;
    width: 95%;
    line-height: 40px;
    transition: 0.5s;
    border-radius: 5px;
}
.page-item-title ul li a:hover,.page-item-title ul li a.active{
    background-image: url(../images/main/tit-bg.png);
    background-size: cover;
    color: #fff;
}
/* 首页展示栏 */
.page-show{
    width: 37.5%;
    height: 100%;
    display: table-cell;
    background-image: url(../images/main/tit-bg.png);
}
.page-show > img{
    width: 100%;
    height: auto;
}
.jieshao{
    width: 90%;
    margin: 20px auto 0;
    position: relative;
    color: #fff;
    font-family: "宋体","Microsoft Yahei","微软雅黑","helvetica neue",arial,sans-serif;

}
.jieshao h2{
    line-height: 1;
}
.jieshao p{
    font-size: 12px;
    text-indent: 25px;
    line-height: 1.6;
}
.jieshao a{
    color: yellow;
}
.jieshao a:hover{
    color: #700011;
}
/* 背景设置 */
.page-item{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
