
#loading{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    background-color: rgb(94,70,116);
}
#loading-center{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -150px;
    text-align: center;
}

#loading-center img{
    width: 200px;
}
