body{
    font-family: "Hiragino Sans GB","Helvetica Neue", Helvetica,  Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #383838;
    margin: 0;

}
body,html{
    height: 100%;
}
a{
    color: inherit;
    text-decoration: none;
}
h2{
    letter-spacing: 2px;
    color: #c20000;
}
h3{
    color: #525252;
}
.leftSec{
    float: left;
    width: 200px;
    height: 100%;
    position: fixed;
    background-color: #12171d;
}
.leftSecCon{
    margin-top: 80px;
    padding-bottom: 30px;
}
.inform{
    text-align: center;
    color: #EEE;
    padding-bottom: 50px;
}
.inform p{
    margin: 8px 0;
}
.name{
    font-size: 18px;
    margin-top: 20px;
    display: block;
    letter-spacing: 2px;
}
.intentionJob{
    display: block;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.portrait{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
ul{
    margin-top: 50px;
    margin-left: 80px;
    color: #878787;
}
li{
    margin: 10px 0;
}
ul li a:hover{
    color: #eee;
    text-decoration: underline;
}
article{
    padding-top: 50px;
    border-top: 3px solid #000;
    width: 100%;
    overflow: hidden;
}
.content{
    margin-left: 200px;
    width: 800px;
    padding-left: 80px;
    margin-top: 50px;

}
.content p{
    line-height: 2;
    margin: 5px 0 0 0 ;
}
.img{
    display: none;
    height: 100px;
    width: 800px;
    overflow: hidden;
    border-radius: 5px;
}
.study-name{
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.study-name h4{
    font-size: 16px;
    margin: 0;
    width: 100px;
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
}
.study-name p{
    color: #999999;
    margin: 5px 0 10px 105px;

}
.box{
    font-size: 0;
    display: inline-block;
    width: 400px;
    height: 10px;
    overflow: hidden;
    background-color: #eee;
    margin-left: 5px;
    vertical-align: middle;
    border-radius: 5px;
}
.box i{
    display: inline-block;
    background-color: #eeba00;
    height: 100%;
}
i.html{
    width: 50%;
}
i.css{
    width: 50%;
}
i.js{
    width: 25%;
}
i.jq{
    width: 50%;
}
i.ps{
    width: 85%;
}
.workA{
    margin: 20px 0 10px 0;
    text-align: center;
    display: block;
    color: #004c82;
}
.workA:hover{
    text-decoration: underline;
    color: #6a6a6a;
}
.time{
    display: inline-block;
    width: 140px;
}
.blackbox{
    width: 100%;
    height: 80px;
    margin-top: 50px;
    background-color: #12171d;
}
.contactTit{
    display: inline-block;
    width: 60px;
}
.contactTit ~ a{
    text-decoration: underline;
    color: rgb(0, 134, 163)
}
