
/*标题头部部分*/
header{
    height: 56px;
    background-color: rgb(255, 209, 0);
    margin: 0 auto;
    min-width: 1130px;
}
.headerBox{
    margin: 0 70px;
    line-height: 56px;
    position: relative;
    text-align: center;
    text-align: center;
    z-index: 5;
}
/*LOGO*/
.logo_left{
    line-height: normal;
    position: absolute;
    margin-top: 18px;
}
/*导航条*/
.nav{
    position: absolute;
    width: 100%;
}
.nav ul{
    display: inline-block;
    height: 56px;
    text-align: center;
}
.nav ul li{
    float: left;
    height: 56px;
    position: relative;
}
.nav ul li >a{
    display: inline-block;
    padding: 0 24px;
    height: 56px;
    line-height: 56px;
    color: #282828;
}
.nav ul li >a.active{
    font-weight: bold;
}
.nav ul li:hover > a{
    background-color: #282828;
    color: rgb(255, 209, 0);
}
.nav ul li > a i{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 56px;
    background-image: url('../images/icon/nav-more.svg');
    background-repeat: no-repeat;
    background-position:left center;
}

/*导航条二级菜单*/
.findBtn:hover .find{
    display: block;
}
.position:hover .currency{
    display: block;
}
.activity:hover .currency{
    display: block;
}
.sourceM:hover .currency{
    display: block;
}
.moreDot:hover .currency{
    display: block;
}
.find{
    display: none;
    position: absolute;
    width: 664px;
    top: 56px;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    box-shadow: 0 1px 12px 0 rgba(0,0,0,.2);
    line-height: normal;
    text-align: left;
}
.find a{
    color: #444;
}
.find .findList{
    border-bottom: 1px solid #eaeaea;
    overflow: hidden;
    padding: 10px 0 25px 13px;
}
.find .findList span{
    display: inline-block;
    height: 18px;
    width: 90px;
    float: left;
    text-align: center;
    margin-top: 15px;
    border-right: 1px solid #eee;
}
.find .findList span > a{
    text-align: center;
    padding: 5px 7px;
    margin-top: 15px;
    border-radius: 5px;

}
.find .findList span > a:hover{
    background-color: rgb(255, 209, 0);
}
.find .findList .white{
    background: #fff;
    height: 80px;
    position: absolute;
    width: 10px;
    right: 10px;
    top: 30px;
}
.find .selected{
    margin-left: 25px;
}
.find .selected > a{
    display: inline-block;
    margin: 15px 40px 15px 0;
}
.find .selected > a:hover{
    color: rgb(211, 111, 22);
}
/*公用二级菜单样式*/
.currency{
    display: none;
    position: absolute;
    width: 152px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 12px 0 rgba(0,0,0,.2);
    line-height: normal;
    text-align: left;
    padding: 5px 0;
    background-color: #fff;
}
.currency a{
    display: block;
    height: 44px;
    line-height: 44px;
    padding-left: 20px;
    color: #444;
}
.currency a:hover{
    background-color: rgb(255, 209, 0);
}
/*图标*/
.headerIcon{
    position: absolute;
    right: 130px;
}
.headerIcon span{
    display: inline-block;
    cursor: pointer;
    width: 60px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%
}
.search{
    background-image: url('../images/icon/nav-search.png');
}
.search:hover{
    background-image: url('../images/icon/nav-search-white.png');
}
.upload{
    background-image: url('../images/icon/nav-upload.png');
}
.upload:hover{
    background-image: url('../images/icon/nav-upload-white.png');
}
.headerIcon span:hover{
    background-color: #282828;
    color: rgb(255, 209, 0);
}
.headerIcon span img{
    height: 20px;
    width: 20px;
    vertical-align: middle;
}
.user{
    position: absolute;
    right: 0;
}
.user a{
    display: inline-block;
    padding-left: 20px;
}
.user a i{
    display: inline-block;
    width: 20px;
    height: 10px;
    vertical-align: middle;
    border-right: 1px solid #000;
}
/*bannenr*//*bannenr*//*bannenr*//*bannenr*//*bannenr*/
.top{
    width: 1130px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
}
.top .banner{
    position: relative;
    width: 1130px;
    border-radius: 5px;
    background-color: #eee;
    height: 300px;
    overflow: hidden;
    z-index: 0;
}
.top .banner ul{
    width: 10000px;
    position: absolute;
}
.top .banner ul li{
    float: left;
    width: 1130px;
    overflow: hidden;
}
.top .banner img{
    height: 300px;
    width: 1130px;
}
.top .banner span{
    display: none;
    position: absolute;
    font-size: 40px;
    width: 80px;
    text-align: center;
    height: 300px;
    color: #fff;
    font-family: '宋体';
    cursor: pointer;
    line-height: 300px;
}
.top .banner span:hover{
    color: rgb(255, 209, 0);
}
.top .banner  .leftB{
    padding-right: 30px;
    left: 0px;
}
.top .banner  .rightB{
    padding-left: 30px;
    right: 0px;
}

/*topAdv*/
.topAdv{
    margin-top: 20px;
    width: 1150px;
    overflow: hidden;
}
.topAdv .item{
    float: left;
    width:210px;
    margin-right: 20px;
    border-radius: 5px;
    height: 168px;
    overflow: hidden;
}
.topAdv .item img{
    width: 210px;
}

/*content*//*content*//*content*//*content*//*content*/
.content{
    margin-top: -1px;
    border-top: 1px solid rgb(238, 238, 238);
    background: rgb(244, 244, 244);
    overflow: hidden;
    min-width: 1130px;
}
.contentList{
    width: 1130px;
    margin: 0 auto;
    padding: 20px 0;
}
.conLis{
    width: 1150px;
    overflow: hidden;
}
.conLis .contentItem{
    float: left;
    width:210px;
    margin: 0 20px 20px 0;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}
.conLis .contentItem .itemImg{
    height: 158px;
    width: 210px;
    overflow: hidden;
}
.contentItem .itemAside{
    width: 178px;
    margin: 0 auto;
    padding: 11px 16px 0 16px;
}
.contentItem .itemAside .conHead{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.contentItem .itemAside .conHead a{
    font-size: 14px;
    color: #333;
}
.contentItem .itemAside .conTxt{
    margin-top: 5px;
    font-size: 12px;
    color: #bbb;
    margin-bottom: 17px;
    height: 18px;
}
.contentItem .itemAside .conStat{
    color: #bbb;
    font-size: 12px;
}
.contentItem .itemAside .conStat span{
    margin-right: 10px;
}
.contentItem .itemAside .itemUser{
    height: 50px;
    line-height: 50px;
    font-size: 0;
}
.contentItem .itemAside .itemUser > *{
    display: block;
    vertical-align: middle;
}
.contentItem .itemAside .itemUser .userImg{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    float: left;
    margin-top: 12px;
}
.contentItem .itemAside .itemUser .userID{
    font-size: 14px;
    margin-left: 10px;
    float: left;
}
.contentItem .itemAside .itemUser .userTime{
    font-size: 12px;
    color: #bbb;
    float: right;
}

.listNum{
    width: 1130px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}
.listNum a{
    color: #7e7e7e;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #eee;
}
.listNum span{
    color: #7e7e7e;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #eee;
    cursor: default;
}
.listNum a.this{
    cursor: default;
}
.listNum a.this,.listNum a:hover{
    color: #000;
    background-color: rgb(255, 209, 0);
}

.botAdv{
    height: 100px;
    width: 1130px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 40px;
}
footer{
    background-color: rgb(40, 40, 40);
    min-width: 1130px;
}
footer a{
    color: rgb(102,102,102);
}
footer .aboutzcool{
    width: 1130px;
    margin: 0 auto;
    height: 130px;
    border-bottom: 1px solid rgba(102,102,102,0.2);
}
.leftabout{
    float: left;
    line-height: 130px;
}

.rightabout{
    float: right;
    line-height: 130px;
}
.leftabout a{
    margin: 0 20px;
}
.rightabout a{
    margin-left: 40px;
}
.bottomabout{
    width: 1130px;
    margin: 0px auto;
    padding: 30px 0;
}
.bottomabout *{
    color: rgb(102,102,102);
    font-size: 12px;
    line-height: 25px;
}
.bottomabout p{
    margin-right: 40px;
    display: inline-block;
}
.bottomabout a:hover{
    color: #eee;
    text-decoration: underline;
}
.bottomabout div{
    height: 25px;
}
.lastbot{
    display: inline-block;
    float: right;
    margin: 0;
}
.gundong{
    position: fixed;
    left: 50%;
    margin-left: 570px;
    bottom: 20px;
    display: none;
}

.gundong a{
    display: block;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
.gTop{
    line-height: 40px;
    background-color: rgb(177, 177, 177);
    color: #fff;
}
.gYij{
    line-height: 20px;
    background-color: rgb(255, 209, 0)
}

.hgr{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 17px;
    position: absolute;
    background-color: #fff;
    z-index: 20;
}
.hgr a{
    display: inline-block;
    margin: 0 30px;
    padding: 19px 0;
    color: rgb(193, 193, 193);
}
.hgr a.on,.hgr a:hover{
    color: #444;
    border-bottom: 2px solid #444;
}
.hgr .cube{
    width: 150px;
    position: absolute;
    left: 50%;
    bottom: 5px;
    margin-left:400px;
}

.hgrtopfixed{
    position: fixed;
    top: 0;
}
.hgrho{
    height: 57px;
    position: relative;
}
.rela{
position: absolute;
bottom: 0;
left: 1135;
}
