/*横幅轮播图样式*/
#banner{
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}
.pro-list{
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}
#sections{
    position: absolute;
    height: 100%;
}
.section{
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float: left;
}
.page{
    width: 1130px;
    margin: 0 auto;
}
#rounds {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}
#rounds .round{
    height: 15px;
    width: 15px;
    margin: 0 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: #eee;
    cursor: pointer;
}
#rounds .round.active{
    background-color: #FFFF00;
}
/*产品质地列表*/
.pro-list ul.pro-menu{
    width: 1200px;
    margin: 0 auto;
    height: 80px;
    background-color: #fff;
}
.pro-list ul.pro-menu li{
    position: relative;
    float: left;
    width: 200px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    color: #555;
}
/*下三角*/
.triangle{
    width: 8px;
    height: 8px;
    position: absolute;
    bottom: -4px;
    left: 95px;
    background-color: #FFBE00;
    display: none;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); 	/* IE 9 */
    -moz-transform:rotate(45deg); 	/* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
    -o-transform:rotate(45deg);
}
.pro-list ul.pro-menu li:hover,.pro-list ul.pro-menu li.active{
    background-color:  #FFBE00;
    color: #fff;
}
.pro-list ul.pro-menu li:hover .triangle,.pro-list ul.pro-menu li.active .triangle{
    display: block;
}
/*产品介绍与图片*/
.pro-show-box{
    background-color: #F5F5F4;
}
.pro-list ul.pro-show{
    width: 1200px;
    margin: 0 auto;
    height: 350px;
    position: relative;
}
.pro-list ul.pro-show li{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}
.show-text{
    width: 60%;
    box-sizing: border-box;
    padding: 30px;
}
.more{
    display: block;
    margin-top: 20px;
    height: 30px;
    line-height: 30px;
    width: 80px;
    text-align: center;
    border-radius:15px;
    background-color: #FFBE00;
    color: #fff;
}
.more:hover{
    background-color: #E6AD00;
    color: #fff;
}
.show-img{
    width: 40%;
    padding: 30px 0px;
}
article{
    padding: 20px 0;
    clear: both;
}
.article-title{
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;

}
/*正文样式*/
.article-content{
    width: 1200px;
    margin:  0 auto;
    overflow: hidden;
}
.content-text{
    padding: 30px 0;
    width: 50%;
    line-height: 2;
}
.content-img{
    width: 45%;
}
.content-img img{
    width: 100%;
    height: auto;
}
article.advantage{
    text-align: center;
    color: #fff;
    background-image: url(../images/index/adv-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
article.advantage .small{
    color: #ddd;
}
.icon-item{
    display: inline-block;
    margin: 20px;
}
.adv-icon{
    display: block;
    width: 105px;
    height: 105px;
    background-image: url(../images/index/adv-icon.png);
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 20px 0;
}
.adv-icon:hover{
    background-color: rgba(0,0,0,0.5);
}
.num1{
    background-position: 0 0;
}
.num2{
    background-position: -106px 0;
}
.num3{
    background-position: -211px 0;
}
.num4{
    background-position: -316px 0;
}
.num5{
    background-position: -421px 0;
}
.envi-content{
    width: 1200px;
    margin: 0 auto;
}
ul.envi-list{
    width: 200px;
    height: 650px;
    position: relative;
}
ul.envi-list li{
    height: 147.5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
ul.envi-list li .black-bg{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 140px;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
}
ul.envi-list li.active .black-bg{
    display: none;
}
ul.envi-list li:last-child{
    margin-bottom: 0;
}
ul.envi-show{
    width: 960px;
    height: 650px;
    position: relative;
}
ul.envi-show li{
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
ul.envi-show li .envi-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    width: 100%;
}
.envi-text{
    padding: 10px 30px 0;
}
.news-list{
    width: 100%;
    text-align: center;
}
.news-item{
    display: inline-block;
    width: 25%;
    margin: 0 2%;
    height: auto;
    overflow: hidden;
}
.news-item .news-img{
    margin-bottom: 10px;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.news-list .more{
    margin: 30px auto!important;
}
.cooperate{
    text-align: center;
}
.cooperate img{
    display: inline-block;
    clear: both;
}
