/*横幅轮播图样式*/
#banner{
    min-width: 1200px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding-top: 120px;
}
#sections{
    position: absolute;
    height: 100%;
}
.section{
    /*width: 33%;*/
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float: left;
}
#rounds {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}
#rounds .round{
    height: 15px;
    width: 15px;
    margin: 0 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: #eee;
    cursor: pointer;
}
#rounds .round.active{
    background-color: #FFFF00;
}
